body {
  background-color: #070635;
}

#header {
  /* position: fixed; */
  height: 40px;
  width: 100%;
  background-color: white;
}

#logo {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background-image: url("../logos/PNGs/Level_Blue_Logo_500x149.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0.8);
}

#teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 75px 100px 75px;
}

.cell {
  /* background-color: rgba(255, 255, 255, 0.2); */
  margin: 50px 25px 0 25px;
  transition: transform 0.3s ease;
  cursor: pointer;
  /* display: inline-block; */
}

.cell:hover {
  transform: scale(1.05);
}

.thumb {
  height: 200px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

#new .thumb {
  background-image: url("https://cdn4.iconfinder.com/data/icons/user-interface-131/32/add-512.png");
}

p {
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 26px;
}
