body {
  background-color: #070635;
}

#types {
  flex-direction: row;
  display: inline-flex;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}

h2 {
  color: white;
  display: inline;
  padding: 10px 20px;
  font-size: 18px;
}

h2:not(.selected) {
  cursor: pointer;
}

#types .selected {
  background-color: white;
  color: #070635;
}

#tableHolder {
  width: 100%;
  /* max-height: calc(100vh - 130px); */
  overflow: scroll;
  margin: 30px auto 0 auto;
  transition: width 0.3s ease, height 0.3s ease;
}

table {
  margin: 0 auto;
  table-layout: fixed;
  background-color: white;
  transition: width 0.3s ease, height 0.3s ease;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

th {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

th,
td {
  text-align: center;
  padding: 0px 10px;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
}

video {
  width: 160px;
  height: 90px;
  background-color: blue;
}

.round video {
  width: 140px;
  height: 79px;
}
.pitch video {
  width: 110px;
  height: 70px;
}

.videoCell,
.nameCell {
  position: -webkit-sticky; /* for Safari */
  left: 0;
  position: sticky;
  z-index: 999;
}

.nameCell {
  left: 180px; /* width of first col + padding */
}
.expander {
  height: 20px;
  width: 20px;
  margin: 5px auto 0 auto;
  background-image: url("https://image.flaticon.com/icons/png/128/60/60781.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: rotate(180deg);
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.expander:not(.expanded):hover {
  opacity: 1;
}

.expanded {
  transform: rotate(0) !important;
  opacity: 1;
}

.hidden * {
  display: none;
  /* max-height: 0px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 0 !important;
  opacity: 0; */
  /*
  this makes each cell 6px tall, for some reason
  */
}

.note {
  max-height: 70px;
  width: 200px;
  overflow-y: scroll;
  font-size: 16px;
  line-height: 20px;
}
