#pitchScreen {
  position: absolute;
  top: 115px;
  width: 100%;
  height: calc(100% - 115px) !important;
  pointer-events: none;
  opacity: 0;
  background-color: #070635; /*rgba(7, 6, 53, 0.9);*/
  display: flex;
  flex-direction: column;
  overflow: scroll !important;
  align-items: center;
}

#pitchScreen > div {
  max-width: 1300px;
  overflow-x: hidden;
}

.visible {
  pointer-events: all !important;
  opacity: 1 !important;
}

.hide {
  display: none;
}

#info {
  width: 100%;
  min-height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
}

#playerInfo {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 40px;
}

h3 {
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 10px 0;
}

#buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

#buttons h2 {
  margin: 10px 0;
}

#pitchPrev {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 160px;
  width: 284px;
}

.timeline {
  flex: 1;
  width: 100%;
  min-height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
}

.timeline video {
  height: 100%;
}
