body {
  background-color: #070635;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* no more empty space at bottom of html, dont touch */
html {
  height: 100vh;
  overflow: hidden;
}

#topBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

#eventName {
  padding: 5px 10px;
  width: 250px;
  border: 1px solid white;
  font-size: 24px;
  background-color: transparent;
  color: white;
  text-align: center;
}

h2 {
  color: #070635;
  background-color: white;
  border-radius: 1000px;
  font-size: 16px;
  line-height: 18px;
  height: 32px;
  padding: 7px 26px;
  flex: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

h2:hover {
  transform: scale(1.05);
}

#editor {
  flex: 1;
  background-color: yellow;
}
